/* Base styles for the workspace */
.workspace-div {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

/* Panel styles */
.panel {
    box-sizing: border-box;
    padding: 10px;
    background-color: white;
    box-sizing: border-box;
    overflow: hidden;
}

.left-panel {
    width: 20vw;
    height: 95vh;
    border-right: 1px solid #ddd;
}

.center-panel {
    width: 55vw;
    height: 95vh;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.right-panel {
    width: 25vw;
    height: 95vh;
    border-left: 1px solid #ddd;
}

/* Common styles for all component containers */
.context-container {
    box-sizing: border-box;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.component-container {
    box-sizing: border-box;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Component specific styles */
.univariate-container {
    width: calc(60vw - 10px);
    height: calc(35vh - 10px);
    overflow: hidden;
}

.bivariate-container {
    margin-left: 10px;
    width: calc(40vw - 10px);
    height: calc(35vh - 10px);
}

.parallel-plot-container {
    margin-top: 10px;
    height: calc(59vh - 10px);
}

.results-container {
    width: 100%;
    height: 100%;
}

/* Transitions */
.MuiGrid-root {
    transition: all 0.3s ease;
}