.bivar-dot {
    fill: white;
    stroke: black;
    stroke-width: 1;
}

.selection-dot {
    fill: steelblue;
}

.group-1-dot {
    fill: plum !important;
}

.group-2-dot {
    fill: green !important;
}

.non-selection-dot {
    fill: white;
}

.hidden-dot {
    fill: #ddd;
    stroke: #ddd;
}