.bivar-dot {
    fill: white;
    stroke: black;
    stroke-width: 1;
}

.selection-dot {
    fill: steelblue;
}

.non-selection-dot {
    fill: white;
}

.hidden-dot {
    fill: #ddd;
    stroke: #ddd;
}