/* Entity dots */
.entity-dot {
    fill: white;
    stroke: black;
    stroke-width: 1;
}

.selected-entity-dot {
    fill: steelblue;
}

.unselected-entity-dot {
    fill: white;
}

.hidden-entity-dot {
    fill: #ddd;
    stroke: #ddd;
}

.group-1-dot {
    fill: plum;
}

.group-2-dot {
    fill: green;
}

/* Entity paths */
.entity-path {
    fill: none;
    stroke-width: 1;
    stroke-opacity: 0.6;
}

.brush-non-selection {
    stroke: black;
}

.brush-selection {
    stroke: steelblue;
}

.hidden-selection {
    stroke: #ddd;
}

.group-1-selection {
    stroke: plum;
}

.group-2-selection {
    stroke: green;
}

/* Axis */
.frozen-axis {
    text {
        fill: #999 !important;
    }

    line, path {
        stroke: #999 !important;
    }

    .selection, .overlay, .handle {
        pointer-events: none;
        cursor: not-allowed;
    }
}

/* Axis Boundaries */
.solid{
    stroke:solid;
 }
 
 .dashed{
    stroke-dasharray: 5,5; 
 }

 .selection-count {
    font-size: 12px;
    fill: #666;
    pointer-events: none;
}

.original-range {
    stroke-dasharray: 4;
    opacity: 0.6;
}

.axis-handle rect{
    cursor: row-resize;
    opacity: 0.5;
    fill: lightcoral;
}

.axis-handle rect:hover {
    opacity: 1;
}