.entity-dot {
    fill: white;
    stroke: black;
    stroke-width: 1;
}

.hovered-entity-dot{
    fill: orange !important;
}

.connect-entity-dot {
    fill: steelblue !important;
}

.selected-entity-dot {
    fill: white;
}

.unselected-entity-dot {
    fill: #ddd;
    stroke: #ddd;
}

.entity-path {
    fill: none;
    stroke-width: 2;
    stroke-opacity: 0.6;
}

.brush-non-selection {
    stroke: #ddd;
}

.brush-selection {
    stroke: steelblue;
}

.solid{
    stroke:solid;
 }
 
 .dashed{
    stroke-dasharray: 5,5; 
 }