.entity-dot {
    fill: white;
    stroke: black;
    stroke-width: 1;
}

.hovered-entity-dot{
    fill: orange !important;
}

.connect-entity-dot {
    fill: steelblue !important;
}

.selected-entity-dot {
    fill: blue;
}

.unselected-entity-dot {
    fill: white;
}

.hidden-entity-dot {
    fill: #ddd;
    stroke: #ddd;
}

.entity-path {
    fill: none;
    stroke-width: 1;
    stroke-opacity: 0.6;
}

.brush-non-selection {
    stroke: black;
}

.brush-selection {
    stroke: blue;
}

.hidden-selection {
    stroke: #ddd;
}

.solid{
    stroke:solid;
 }
 
 .dashed{
    stroke-dasharray: 5,5; 
 }

 .selection-count {
    font-size: 12px;
    fill: #666;
    pointer-events: none;
}