.fill-grid-cell {
    fill: #ccc;
    stroke: black;
}

.non-fill-grid-cell {
    fill: transparent;
    stroke: black;
}

.non-fill-grid-cell:hover {
    fill: #dd4d37;
}

.highlight-grid-cell {
    fill: steelblue !important;
}